/* ==========================================================================
   ANIMATIONS
   ========================================================================== */

@-webkit-keyframes intro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes intro {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@font-face {
  font-family: "Fira Code Regular";
  src: url("/images/FiraCode-Regular.woff2") format("woff2"),
       url("/images/FiraCode-Regular.woff") format("woff");
}

@font-face {
font-family: "JetLink";
src: url("/images/JetLink_MediumRound.TTF") format("truetype");
}



// @font-face {
//   font-family: "HanSans";
//   src: url("/images/SourceHanSansHC-VF.otf.woff2") format("woff2");
      // 
// }
